<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="temporario">
    </div>
    <div class="recipe-title-container">
        <h2 class="recipe-title">Lorem ipsum dolor sit amet.</h2>
    </div>

    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fas fa-user">
                Otávio Miranda
            </i>
        </span>
        <span class="recipe-author-item">
            <i class="fas fa-calendar-alt">
                16/10/2021 às 11:21
            </i>
        </span>
        <span class="recipe-author-item">
            <a href="">
                <i class="fas fa-layer-group"></i>
                <span>Café da manhã</span>
            </a>
        </span>
    </div>
    <div class="recipe-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos a consectetur praesentium quia sunt
            numquam molestiae quam alias autem neque! Veniam nam reprehenderit modi cumque expedita corporis
            quod porro culpa.</p>
    </div>
    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-tilte">
                <i class="fas fa-stopwatch"></i>
                Preparo
            </h3>
            <div class="recipe-meta-text">
                0 minutos
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title">
                <i class="fas fa-pizza-slice"></i>
                Porções
            </h3>
            <div class="recipe-meta-text">
                0 Porções
            </div>
        </div>
    </div>
    <footer class="recipe-footer">
        <a href="" class="recipe-read-more button button-dark button-full-width">
            <i class="fas fa-eye">
                <span>ver mais...</span>
            </i>
        </a>
    </footer>
</div>